* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #1aac83;
  --green-secondary: #a3cfbb;
  --red: #e7195a;
  --red-secondary: #f1aeb5;
  --blue: #0d6efd;
  --purple: #6610f2;
  --pink: #d63384;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --grey: #adb5bd;
}
body {
  background: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
header {
  /* background: var(--blue); */
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a,
header h1 {
  /* color: #fff; */
  color: var(--blue);
  text-decoration: none;
  /* font-weight: 400; */
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.book-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.book-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--blue);
}
.book-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.book-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
 /* new book form  */
 form h3 {
  margin-bottom: 20px;
 }
 label, input{
  display: block;
 }
 input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
 }
 form button {
  width: 80px;
  background: var(--blue);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  cursor: pointer;
 }
 div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 4px;
  margin: 20px 0;
 }
 input.error {
  border: 1px solid var(--red);
 }

 /* navbar  */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 30px;
}
/* forms  */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
.help-text {
  max-width: 400px;
  margin: 0 auto;
}
nav button {
  background: #fff;
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size: 1em;
}